/* ---------utilities--------- */
* {

    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    font-family: 'Poppins', sans-serif;
}

/* this one only visible for tablet mode  */
.tablet-mode {
    color: white;
    margin: 0 auto;
    text-align: center;
    display: none;
}

.tablet-mode h2 {
    display: inline;
    background-color: #e55039;
    padding: 10px 20px;
}


/* header style start here  */
.container-header {
    background-color: #161616;
    width: 2021px;
    height: 846px;
    margin: 50px auto;
    margin-bottom: 150px;
    border-radius: 30px;
    display: flex;
    align-items: center;

}

.article-header {
    color: white;
    width: 50%;
    margin-left: 150px;
}

.article-header h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 80px;
    margin-bottom: 10px;
}

span {
    color: #e55039;
}

.article-header p {
    font-size: 23px;
    font-weight: 300;
}

/* this is watch live button with flex display */
.watch-button {
    color: white;
    background-color: #e55039;
    display: flex;
    flex-direction: row;
    width: 187px;
    height: 80px;
    gap: 15px;
    align-items: center;
    padding: 0px 20px;
    margin-top: 25px;
    border-radius: 7px;
    transition: transform 0.2s;
    animation: sliding 0.8s ease-in 0.5s infinite alternate;

}

.watch-button:hover {
    background-color: #de4028;
    animation: pused;
}

.anchor-watch a {
    font-size: 27px;
    color: white;
    text-decoration: none;

}

.fa-arrow-right {
    font-size: 25px;
    margin-top: 6px;

}

/* image style sheet start from here  */
.image-header {
    width: 50%;
}

.image-header img {
    width: 75%;
    position: relative;
    margin-left: 150px;
    margin-top: 116px;
}

/* animation  */
@keyframes tab-sliding {
    from {
        width: 187px;
    }

    to {
        width: 300px;
    }
}

@keyframes sliding {
    from {
        width: 187px;
    }

    to {
        width: 400px;
    }
}

/* body section start here  */

.navbar-match-container {
    width: 2021px;
    margin: 0px auto;
    display: flex;
    gap: 33px;
    /* background-color: #de4028; */

}

.navbar {
    background: #161616;
    border-radius: 19px;
    width: 20%;
    height: 440px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 33px;
}

.button-navbar {
    width: 327px;
    height: 100px;
    background-color: #FFFF;
    border-radius: 15px;

}

.button-navbar a {
    color: black;
    font-size: 30px;
    font-weight: 500;
    text-decoration: none;
}

#red {
    background-color: #e55039
}

#red a {
    color: white;
}
.matches{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    row-gap: 30px;
    column-gap: 30px;
    border-bottom: 200px solid transparent;
    
}
.match{
    
    width: 100%;
    height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid lightgray;
    border-radius: 17px;
    box-shadow: 5px 5px 10px gray;
}
.flags{
    width: 80%;
    height: 120px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
    margin: 30px 0px;
}
.first-flag,.second-flag{
    
    height: 80px;
    width: 40%;
}
.first-flag img{
    width: 100%;
}

.second-flag img{
    width: 100%;
}
.article-match{
    text-align: center;
    
}
.article-match h1{
    font-size: 2.3em;
    font-weight: 600;
}
.article-match p{
    font-size: 1.5em;
    color: gray;
}

/* -----------------
footer section style 
--------------------- */

.footer {
    width: 100%;
    height: 500px;
    background: #161616;
}

footer h1 {
    width: 80%;
    font-size: 70px;
    color: #e55039;
    font-family: 'Lobster', cursive;
    text-align: center;
    margin: 0px auto 50px;
    padding-top: 70px;
    padding-bottom: 100px;
    border-bottom: 0.5px solid rgb(255, 255, 255);

}

.footer-tags {
    width: 40%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    color: rgb(255, 255, 255);
    margin-bottom: 80px;

}

.social-media {
    width: 40%;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    gap: 40px;
    font-size: 40px;

}

.social-media a {
    text-decoration: none;
    color: white;
}
/* resposive for phone here is the query */

@media screen and (max-width:688px) {
    .container-header {
        background-color: #161616;
        width: 100%;
        border-radius: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 0px;
        

    }

    .article-header {
        width: 100%;
        height: 100vh;
        margin: 0px;
        padding: 0px;
        

    }

    .article-header h1 {
        font-size: 60px;
        padding: 0px 10px;
    }

    .article-header p {
        width: 90%;
        height: 60px;
        background-color: #161616;
        overflow: hidden;
        padding: 0 10px;

    }

    .watch-button {

        margin: 20px auto;
    }

    .image-header {
        width: 100%;
        
    }

    .image-header img {
        width: 75%;
        right: -50px;
        margin: 0px;
    }
    .navbar-match-container {
        width: 100%;
        height: 2652px;
        margin: 0px auto;
        display: flex;
        flex-direction: column;
        gap: 33px;

    }

    .navbar {
        background: #ffffff;
        border-radius: 19px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 23px;
        position: relative;
        top: -125px;
    }

    #group {
        width: 80%;
    }

    #red {
        width: 70%;
    }
    .matches{
        width: 90%;
        margin: 0px auto;
        grid-template-columns: repeat(1,1fr);
        row-gap: 20px;
        position: relative;
        top: -150px;
        border-bottom: 24px;
        
    }
    .footer {
        /* margin-top: 178em; */
        width: 100%;
        height: 330px;
       
        
    }

    .footer h1 {
        font-size: 55px;
        margin: 0px auto 20px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .footer-tags {
        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: rgb(255, 255, 255);
        margin-bottom: 10px;

    }

    .social-media {
        font-size: 20px;
        width: 40%;
        margin: 0px auto;
        display: flex;
        justify-content: center;
        gap: 20px;


    }
}

/* responsive for tablet start here  */
@media screen and (min-width:689px) and (max-width:1010px) {
    .container-header {
        width: 734px;
        height: 450px;
        margin: 30px 30px 0px 30px;
    }
   
    .article-header {
        /* color: white;
        width: 50%; */
        width: 100%;
        margin-left: 30px;
    }
    .article-header h1 {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 60px;
        line-height: 60px;
        margin-bottom: 10px;
    }
    .article-header p{
        width: 90%;
        height: 60px;
        background-color: #161616;
        overflow: hidden;
        padding: 0 10px;
        text-overflow: ellipsis;
    }
    .image-header{
        width: 80%;
        /* position: absolute; */
    }
    .image-header img{
        width: 100%;
        position: relative;
        margin: 0px;
        top: 64px;

    }
   .watch-button{
    animation: paused;
    width: 150px;
    height: 50px;
   }
   .watch-button a{
    font-size: 20px;
   }
   .watch-button{
    transition: transform 0.2s;
    animation: tab-sliding 0.8s ease-in 0.5s infinite alternate;
   }
  
   .navbar{
    width: 734px;
    height: 150px;
    flex-direction: row;
    background-color: white;
    margin: 0px auto;
    position: relative;
    margin-left: 31px;
    
   }
   .button-navbar{
    border: 1px solid rgb(177, 175, 175);
   }
   .navbar-match-container{
    width: 100%;
    flex-direction: column;
   }
   .matches{
    width: 90%;
    margin: 0 auto;
    grid-template-columns: repeat(2,1fr);
    margin-bottom: 0px;
    margin-top: 1em;
    border-bottom: 0em;
   }
   .footer{
    width: 100%;
    margin-top:3em;
    height: 370px;
   }
   
   .footer h1 {
    margin: 0px auto 30px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.footer-tags {
    width: 90%;
    margin: 0 auto;
    display: flex;
    margin-left: 29px;
    align-items: center;
    color: rgb(255, 255, 255);
    margin-bottom: 40px;

}

.social-media {
    font-size: 25px;
    width: 50%;
    margin: 0px auto;
    gap: 20px;
}

}